body { 
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
}

.v-separator {
  height: 100%;
  width: 1px;
  background-color: lightgray;
  margin: 0 16px;
}

.h-separator {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin: 16px 0;
}